{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_css %}
    {% endblock extra_css %}
</head>
<body>
  <header>
    <nav>
      <a href="{% url "ads_list" %}">Объявления</a>
      <a href="{% url "ad_add" %}">Новое объявление</a>
    </nav>
  </header>
  <main>
    {% block contents %}
    {% endblock contents %}
  </main>
  <footer>&copy; Все права защищены 2025</footer>
</body>
</html>